env = "prod"
region = "ap-south-1"
vpc_cidr = "10.0.0.0/16"
public_subnets = ["10.0.1.0/24","10.0.2.0/24","10.0.3.0/24"]
private_subnets = ["10.0.11.0/24","10.0.12.0/24","10.0.13.0/24"]
k8s_version = "1.33"
node_groups = {
  prod-ng = {
    desired_size = 2
    max_size     = 3
    min_size     = 1
    instance_types = ["t3.medium"]
  }
}
tags = {
  Environment = "prod"
  Project     = "platform"
}
